﻿<form action="/PaymentAdmin/Charge" method="POST">
    <article>
        <label>Amount: $6.00</label>
        <input id="xyz" type="text" value="6" />
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="500">
    </script>
</form>
