﻿@model App.Models.tbl_LoginMaster

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    @Styles.Render("~/Content/css")


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>2 Minute</b>Brain</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <section id="loginForm">

                @using (Html.BeginForm("Login", "AdminLogin", FormMethod.Post))
                {
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.EmailId, htmlAttributes: new { @class = "form-control", Type = "Email",
                       Placeholder = "Email", required = "required"
                   })
                        @*<input type="email" class="form-control" placeholder="Email">*@
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "form-control", Type = "Password",
                       Placeholder = "Password", required = "required"
                   })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                        @*<input type="password" class="form-control" placeholder="Password">*@
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                @*<label>
                                <input type="checkbox"> Remember Me
                            </label>*@
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Sign In" />
                            @*<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>*@
                        </div>
                        <!-- /.col -->
                    </div>
                }
            </section>
            <span style="color:red;">@ViewBag.Message</span>
            
            <!-- /.social-auth-links -->
            @*<a href="#">I forgot my password</a><br>*@
            @*<a href="register.html" class="text-center">Register a new membership</a>*@
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/AdminLTE/js")

  
</body>






@*@using (Html.BeginForm("Login", "AdminLogin", FormMethod.Post))
{
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="3">
                Login
            </th>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                @Html.TextBoxFor(m => m.EmailId)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.EmailId, "", new { @class = "error" })
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.TextBoxFor(m => m.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit" />
            </td>
            <td></td>
        </tr>
    </table>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
    </script>
}*@

