﻿@*@model IEnumerable<App.Models.tbl_ProgramMaster>*@
@model IEnumerable<App.viewmodel.ProgramPlayListViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2 class="user_listing-head">Audio Track List</h2>
<p class="create__new-program">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> @Html.ActionLink("Create New", "Create")
</p>

<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PlayList)

            </th>
            <th>
               Description

            </th>
            <th>
                Created By

            </th>
            <th>
                Download
            </th>

            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
           

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PlayList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)


            </td>

            <td>
                <a href="~/Upload/@item.TrackUrl" target="_blank">
                    <span class="glyphicon glyphicon-download-alt"></span>
                </a>
                <span>@item.TrackTimeCount</span>
      
            </td>
           

            <td>
                @Html.ActionLink("Edit", "EditAudioTrack", new { id = item.pkProgramPlayListId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.pkProgramPlayListId })

            </td>
        </tr>
          
        }

    </table>
</div>

