﻿@model App.Models.tbl_ProgramPlayList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Create Text Track</h2>
@using (Html.BeginForm("Createtexttrack", "AdminTrack", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <label class="control-label col-md-2">Text</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayList, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlayList, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("Description", new {  @class = "textarea form-control",
               rows = "10",   style = "width:50%;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label class="control-label col-md-2">Track Artist</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrackArtist, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrackArtist, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Audioindex")
    @Html.ActionLink("Back to Tracks", "AudioIndex", "AdminTrack", new { id = @ViewBag.ProgramId }, htmlAttributes: null)

</div>

