﻿@model App.viewmodel.ProgramPlayListViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Program</h4>
    <hr />
    @using (Html.BeginForm("DeleteTextTrack", "AdminTrack", FormMethod.Post))
    {

        <dl class="dl-horizontal">
            <dt>
                PlayList
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlayList)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            @Html.Hidden("hdnFlag", null, new { @id = Model == null ? 0 : Model.pkProgramPlayListId })

        </dl>



        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to List", "Audioindex/", new { id = Model.fkProgramId })*@
        </div>
    }

    @Html.ActionLink("Back to Tracks", "Textindex", "AdminTrack", new { id = Model.fkProgramId }, htmlAttributes: null)
</div>



