﻿@*@model IEnumerable<App.Models.tbl_ProgramMaster>*@
@model IEnumerable<App.viewmodel.ProgramPlayListViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2 class="user_listing-head">Text List</h2>
<p class="create__new-program">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> @Html.ActionLink("Create New", "Createtexttrack")
</p>

<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <tr>
            <th>
                Text
            </th>
            <th>
           
                Description
            </th>
            <th>
                Created By

            </th>

            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {


        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PlayList)
            </td>

              <td>
                   <div style="height: 200px; overflow-y: scroll;"> @(new HtmlString(item.Description.ToString()))</div>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>



            <td>
                @Html.ActionLink("Edit", "Edittexttrack", new { id = item.pkProgramPlayListId }) |
                @Html.ActionLink("Delete", "DeleteTextTrack", new { id = item.pkProgramPlayListId })

            </td>
        </tr>

        }

    </table>
</div>

