﻿@*@model IEnumerable<App.Models.tbl_ProgramMaster>*@
@model IEnumerable<App.viewmodel.ProgramViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>

<h2 class="user_listing-head">Programs</h2>


<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <tr>
            <th>Name  </th>
          
            <th> Text</th>
            <th>Price  </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@Html.DisplayFor(modelItem => item.PaymentText)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>

            <td>
                @Html.ActionLink("Edit", "EditPaymentData", new { id = item.pkProgramId }) 
            

            </td>
        </tr>
        }


    </table>
</div>

