﻿@*@model IEnumerable<App.Models.tbl_ProgramMaster>*@
@model IEnumerable<App.viewmodel.ProgramViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>

<h2 class="user_listing-head">Programs</h2>

<p class="create__new-program">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> @Html.ActionLink("Create New", "Create")
</p>
<div class="box-body table-responsive no-padding">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                Audio Tracks
            </th>
            <th>
                Text Tracks
            </th>
            <th>
                Bonus Tracks
            </th>
            <th align="center" class="text-center">
                Images

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Session)*@
                Total Sessions
            </th>
            <th align="center" class="text-center">
                Lock status
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AudioTrackCount)

                    @Html.ActionLink("Track", "AudioIndex", "AdminTrack", new { id = item.pkProgramId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextCount)
                    @Html.ActionLink("Track", "TextIndex", "AdminTrack", new { id = item.pkProgramId }, null)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BonusTrack)
                    @Html.ActionLink("Track", "Audiotrackviewlist", "BonusTrackAdmin", new { id = item.pkProgramId }, null)

                </td>

                <td align="center">
                    <img class="table-img-logos" src="@Url.Content("~/Upload/ProgramImages/ActiveProgram/" + item.ImageUrl)" width="100%" alt="" />
                    @*@Html.Image(item.ImageUrl, "")
                        @Html.Image(modelItem => "Upload/ProgramImages/ActiveProgram/" + item.ImageUrl)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Session)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsProgramUnlockForAllUser, htmlAttributes: new { @checked = item.IsProgramUnlockForAllUser, @class = "checkbox_" + item.pkProgramId })
                    @if (item.IsProgramUnlockForAllUser)
                    {
                        <labe>This Program is Unlocked</labe>
                    }
                    else
                    {
                        <labe>This Program is Locked</labe>
                    }

                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.pkProgramId }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.pkProgramId }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.pkProgramId })

                </td>
            </tr>
        }


    </table>
</div>
<script>
    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {

            var classProgram = $(this).attr('class');
            var pkProgramId = $(this).attr('class').split("_")[1]

            var dataModel = { IsProgramUnlockForAllUser: $(this).prop("checked"), pkProgramId: pkProgramId };
            $.ajax({
                url: "/Programs/ActiveInactiveProgram",
                type: "POST",
                data: dataModel,
                dataType: 'json',
                success: function () {
                      location.reload(true);
                },
                error: function (error) {
                    console.log(error);
                      location.reload(true);
                }
            });



        });
    });



</script>
