﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

body.skin-blue {
    padding-top: 0;
}

.box-body {
    background: #fff;
    clear: both;
}

.box-header {
    width: 100%;
    float: left;
    background: #fff;
    border-top: 3px solid #ddd;
}

    .box-header .box-tools {
        position: inherit !important;
        right: inherit !important;
        top: inherit !important;
    }

        .box-header .box-tools .input-group form label {
            margin-right: 20px;
            padding-top: 5px;
            font-size: 17px;
        }
.content .box-body.table-responsive table th, .content .box-body.table-responsive table td {
    padding: 12px 22px;
    font-size: 15px;
    vertical-align: middle;
    border: 1px solid #eee;
}
h2.user_listing-head {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
}
span.create__new {
    margin-bottom: 0;
    font-size: 16px;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
section.content {
    padding-top: 0;
}
span.create__new {
    margin-bottom: 10px;
    font-size: 16px;
    display: table-cell;
    text-align: right;
}
.content .box-body.table-responsive table th {
    font-size: 16px;
}
.table_inner-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}
p.create__new-program {
    text-align: right;
    font-size: 16px;
    color: #dc7c4c;
    background: #fff;
    margin-bottom: 0;
    padding: 18px 20px;
    border: 1px solid #eee;
}
img.table-img-logos {
    max-width: 100px;
}
    p.create__new-program a {
        color: #dc7c4c;
    }
.box-header {
    padding: 24px 20px !important;
}
span.create__new a {
    background: transparent;
    color: #dc7c4c;
    padding: 7px 18px;
    border-radius: 4px;
    min-height: 40px;
    font-size: 16px;
    display: inline-block;
    padding-left: 3px;
}
span.create__new i {
    color: #dc7c4c;
    position: relative;
    top: 1px;
}
.box-header .box-tools .input-group form .input-group-btn input[type="submit"] {
    min-height: 40px;
    font-size: 16px;
    padding: 0 30px;
    background: #3c8dbc;
    color: #fff;
    border: 0;
}
.box-header .box-tools .input-group, .box-header .box-tools .input-group form {
    width: 100% !important;
}

            .box-header .box-tools .input-group form, .box-header .box-tools .input-group form label {
                float: left;
            }
                .box-header .box-tools .input-group form input#SearchString {
                    float: left !important;
                    min-width: 400px;
                    margin-right: 10px;
                    border-radius: 30px !important;
                    min-height: 40px;
                }



/*===== Start Custom css =====*/
.adminLogo img {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.image img.user-image {
    border-radius: 50%;
}

/*===== End Custom css =====*/