﻿@using App.Models;
@using System.Web.Mvc
@*
    This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
       TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@{
    tbl_LoginMaster adminObj = new tbl_LoginMaster();
    ViewBag.Layout = null;
    adminObj = (tbl_LoginMaster)Session["user"];
    if (adminObj == null)
    {

    }
    else
    {

    <header class="main-header">
        <!-- Logo -->
        <div class="adminLogo">
            <a href="index2.html" class="logo"><img src="~/Content/AdminLTE/img/2minuteBrain.png" /></a>
        </div>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @*<img src="~/Content/AdminLTE/img/defaultuser.jpg" class="user-image" alt="User Image" />*@
                            <img src="@adminObj.ImageUrl" class="user-image" alt="User Image" />

                            <span class="hidden-xs">@adminObj.Name</span>
                        </a>
                        <ul class="dropdown-menu">

                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <form method="post" action="@Url.Action("Logout", "AdminLogin")" id="signoutfrm" style="display:none;">
                                        @Html.AntiForgeryToken()
                                    </form>
                                    <a href="" class="btn btn-default btn-flat" onclick="$('#signoutfrm').submit(); return false;">LOGOUT</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
        }
    }