﻿@using App.Models
@*
    This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
       This is where you can add, modify, or remove navigation options in your app
       TODO: This preserves the links as-is for the demo, which lead to broken pages!
       It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;

}
@{
    tbl_LoginMaster adminObj = new tbl_LoginMaster();
    ViewBag.Layout = null;
    adminObj = (tbl_LoginMaster)Session["user"];

    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@adminObj.ImageUrl" class="user-image" alt="User Image" />
                </div>

                <div class="pull-left info">
                    <p>@adminObj.Name</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="active">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("User", "Index", "User")</li>
                <li>@Html.ActionLink("Program", "Index", "Programs")</li>
                <li>@Html.ActionLink("Payment", "GetPaymentData", "Programs")</li>
                <li>@Html.ActionLink("Notification", "Create", "NotificationUI")</li>
                @*<li>@Html.ActionLink("Payment", "Index", "PaymentAdmin")</li>*@

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

}