﻿@model IEnumerable<App.Models.Proc_GetUser_Result>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <span>user Name:</span> @Html.TextBox("Name")
        <input type="submit" value="Search" />
        <br />
        <br />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>CustomerID</th>
                <th>ContactName</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.EmailId</td>
                    <td>@user.Password</td>
                  
                </tr>
            }
        </table>
    }
</body>
</html>
