﻿@model PagedList.IPagedList<App.Models.tbl_LoginMaster>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}
<h2 class="user_listing-head">Users</h2>
<div class="create__new-wrapper">
    
    <div class="box-header">
        <div class="box-tools">
            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                @using (Html.BeginForm("Index", "User", FormMethod.Get))
                {
                    <label>Find by name:</label>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control pull-right", Placeholder = "Search" })

                    <div class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>

                    <span class="create__new"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> @Html.ActionLink("Create New", "Create")</span>

                }

            </div>
        </div>
    </div>
</div>
<div class="box-body table-responsive no-padding">
    <table class="table table-hover">

        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("EmailId", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                @*@Html.ActionLink(model => model.EmailId)*@
            </th>
            <th>
                Image Url
            </th>

            <th>
                IsActive
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Date.)
                </th>*@


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailId)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImageUrl))
                    {
                        @*<img src="@Url.Content(item.ImageUrl)" width="30%" alt="" />*@

                        <div class="table_inner-image" style="background-image:url(@Url.Content(item.ImageUrl))"></div>

                    }

                    @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>*@


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.pkId }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.pkId }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.pkId })
                </td>
            </tr>
        }

    </table>
</div> <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
