﻿@model App.Models.tbl_Notification


<h2>Send notifications</h2>

@using (Html.BeginForm("Create", "NotificationUI", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-offset-2 col-md-10">
        @Html.TextArea("Text", new { rows = "6", @cols = 200, })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>


</div>
}


